/***********   NAV   ***********/ 


nav {
	display:flex;
	justify-content:space-around;
	height:90px;

}

nav ul.logo {
	height:100%;
	width:30%;
	display:flex;
	align-items:center;
	justify-content: flex-start;
}

nav ul.logo li:last-child {
	padding-left:30px;
}


nav ul.links {
	width:70%;
	height:100%;
	display:flex;
	justify-content: flex-end;
	align-items: center;
}

nav ul li {
	padding:0 20px;
}

nav ul.links li:last-child {
	padding-right:30px;
}

/***********   MAIN   ***********/ 

main {
	height:600px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	background-color:#36363d;
	padding:0 30px;

}


main h1 {
	color:white;
}

main p {
	color:white;
	width:600px;
}

main a.button{
	width:200px;
	color:white;
	margin-top:20px;
}


/***********   FOOTER   ***********/ 

footer {
	display:flex;
	justify-content:flex-end;
	height:100px;
}

footer ul {
	height:100%;
	display:flex;
	justify-content:flex-end;
	align-items: center;
}

footer ul li {
	padding:0 20px;

}

footer ul li:last-child {
	padding-right:30px;
}





