// Typography

@font-face {
  font-family: "NaNHolo-Regular";
  src: url("/fonts/NaNHolo-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "NaNHolo-Bold";
  src: url("/fonts/NaNHolo_TRIAL-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "NaNHoloMono-Bold";
  src: url("/fonts/NaNHoloMono_TRIAL-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "NaNJaune-MidiRegular";
  src: url("/fonts/NaNJaune-MidiRegular.woff2") format("woff2");
}

@font-face {
  font-family: "NaNJaune-MidiMedium";
  src: url("/fonts/NaNJaune-MidiMedium.woff2") format("woff2");
}

@font-face {
  font-family: "NaNJaune-MidiBold";
  src: url("/fonts/NaNJaune-MidiBold.woff2") format("woff2");
}

@font-face {
  font-family: "NaNJaune-Midi-Var";
  src: url("/fonts/NaNJaune-Midi-Var.woff2") format("woff2 woff2 supports variations");
  src: url("/fonts/NaNJaune-Midi-Var.woff2") format("woff2-variations");
  font-weight: 100 1000;
}


h1, h2, h3, h4, h5 {
  font-family: "NaNJaune-Midi-Var";
  margin-bottom: 2rem;
}

h1 {
  font-weight: 700;
  font-size: clamp(2.8rem, 5vw, 6.0rem);
  line-height: 1em;
  margin-bottom: 1em;
}

h2 {
  font-weight: 480;
  font-size: clamp(2.3rem, 3vw, 3.5rem);
  line-height: 1.1em;
}

h3 {  
  font-weight: 500;
  font-size: clamp(1.5rem, 2.5vw, 1.8rem);
  line-height: 1.2em;
  margin-bottom: 1rem;
}

h4 {
  font-weight: 900;
  font-size: clamp(0.7rem, 2vw, 0.8rem);
  line-height: 1.4em;
  text-transform: uppercase;
  letter-spacing:3px;
  color: $orange;
  margin-bottom: 1rem;
  margin-top: .5rem;
}

h5, li {
  font-weight: 470;
  font-size: clamp(1.1rem, 2vw, 1.2rem);
  line-height: 1.5em;
  letter-spacing: 0.5px;
}

p, small {
  font-family: "NaNHolo-Regular";
  font-size: clamp(1.25rem, 2vw, 1.4rem);
  line-height: 1.5em;
  margin-bottom: 1.5rem;

  -moz-font-feature-settings: 'ss02';      /* low-level (old Firefox)      */
  -webkit-font-feature-settings: 'ss02';   /* low-level (old Webkit)       */
  font-feature-settings: 'ss02' on;     /* low-level (all new browsers) */
}

small {
  font-size: clamp(1rem, 2vw, 1.1rem);
}

a {
  color: $orange;
  transition: all 150ms ease-in-out;

  &:hover {
    color: $orange;
  }
}

