// Typography

@font-face {
  font-family: "NaNHolo-Regular";
  src: local('NaNHolo-Regular'), url("/fonts/NaNHolo-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "NaNHolo-Bold";
  src: local('NaNHolo-Bold'), url("/fonts/NaNHolo_TRIAL-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "NaNJaune-Midi-Var";
  src: local('NaNJaune-Midi-Var'), url("/fonts/NaNJaune-Midi-Var.woff2") format("woff2 woff2 supports variations");
  src: local('NaNJaune-Midi-Var'), url("/fonts/NaNJaune-Midi-Var.woff2") format("woff2-variations");
  font-weight: 100 1000;
  font-display: swap;
}


h1, h2, h3, h4, h5, li, label {
  font-family: "NaNJaune-Midi-Var", sans-serif;
  margin-block-end: 1rem;
}

h1 {
  font-weight: 750;
  font-size: clamp(2.3rem, calc(5vw + 1.2rem), 7rem);
  line-height: 1em;
  letter-spacing: -.02em;
}

h2 {
  font-weight: 620;
  font-size: clamp(1.8rem, calc(3.6vw + 1rem), 4.3rem);
  line-height: 1.1em;
  letter-spacing: -.01em;
}

h3 {  
  font-weight: 480;
  font-size: clamp(1.6rem, calc(1.1vw + 1rem), 2.5rem);
  line-height: 1.2em;
}

h4, li, .button-small {
  font-weight: 330;
  font-size: clamp(1rem, calc(1vw + .5rem), 1.2rem);
  line-height: 1.5em;
  letter-spacing: 0.5px;
}

h5, label {
  font-weight: 700;
  font-size: clamp(.65rem, calc(1vw + .2rem), .75rem);
  line-height: 1.4em;
  text-transform: uppercase;
  letter-spacing:3px;
  color: $orange;
  margin-top: .5rem;
}

p, small, em, strong {
  font-family: "NaNHolo-Regular", sans-serif;
  -moz-font-feature-settings: 'ss02';      /* low-level (old Firefox)      */
  -webkit-font-feature-settings: 'ss02';   /* low-level (old Webkit)       */
  font-feature-settings: 'ss02' on;     /* low-level (all new browsers) */
}

p {
  font-size: clamp(1.05rem, calc(1vw + .2rem), 1.3rem);
  line-height: 1.4em;
  margin-block-end: 1rem;
}

small {
  font-size: smaller;
  line-height: 1em;
}

strong {
  font-family: "NaNHolo-Bold", sans-serif;
}

.strong {
  font-weight: 750;
}

// Links

a {
  color: $orange;
  transition: all 100ms ease-out;

  &:hover {
    color: $orange;
  }
}

a.green {
    color: $green;
     @media (prefers-color-scheme: dark) {
        color: $beige;
    }
      
      &:hover {
         color: $orange;
  }

}

a.inline-link {
  text-decoration: underline;
  text-underline-offset: .3em;
  text-decoration-color: rgba($orange, 0.3);

  &:hover {
    text-decoration-color: rgba($orange, 0.8);
  }
}
a {
  transition: all 150ms ease-in-out;
}

.external-link {
  &:after {
      display: inline-block;
      content: '';
      background-size: cover;
      background-image: url('/img/global/icon-external-link.svg');
      height: 14px;
      width: 14px;
      margin-left: 10px;  
      opacity: 0;
      transform: scale(0);
      transition: all 150ms ease-in-out;
    }

  &:hover {
    &:after {
      opacity: 1;
      transform: scale(1);

    }
  }
}

.mailto-link {
  &:after {
    display: inline-block;
    content: '';
    background-size: cover;
    background-image: url('/img/global/icon-plane.svg');
    height: 14px;
    width: 14px;
    margin-left: 10px;  
    opacity: 0;
    transform: scale(0);
    transition: all 150ms ease-in-out;
  }

  &:hover {
    &:after {
      opacity: 1;
      transform: scale(1);

    }
  }
}

.project-link {
  text-decoration: underline;
  text-decoration-color: rgba($orange, 0.3);
  text-underline-offset: 0.4em;
  text-decoration-thickness: 3px;
  transition: all 150ms ease-in-out;

  &:hover {     
    text-decoration-color: rgba($orange, 0.8);
  }
}

ul.social-links {
  display: grid;
  grid-template-columns: auto auto;

  @include for-size (tablet-portrait-up){
    grid-template-columns: auto;
  }

  li {
    margin-bottom: .5rem; 

    a {
      color: $beige;
      text-decoration: none;

      &:hover {
        color: $orange;
      }
    }
  }
}

