// Margin
$spacer: 5rem;

// Colours
$forestgreen: #002C2C;
$green: #004C4C;
$black: #001D1D;
$beige: #FAF8F1;
$teal: #2F9B9B;
$orange: #DB7704;

.forestgreen {
  color: $forestgreen;
}

.beige {
  color: $beige;
}

.teal {
  color: $teal;
}

.orange {
  color: $orange;
}

// Breakpoint Mixins (to add: @include for-size ($breakpoint) {})


@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 39.9rem) { @content; }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 40rem) { @content; }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 64rem) { @content; }
  } @else if $size == desktop-up {
    @media (min-width: 90rem) { @content; }
  } @else if $size == big-desktop-up {
    @media (min-width: 120rem) { @content; }
  }
}



// Spacers

.spacer {
  padding-top: $spacer;

  @include for-size(phone-only) { 
    padding-top: $spacer/2;
  }
}

.half-spacer{
  padding-top: $spacer/2;

  @include for-size(phone-only) { 
    padding-top: $spacer/4;
  }
}

.bottom-spacer{
  padding-bottom: $spacer;

  @include for-size(phone-only) { 
    padding-bottom: $spacer/2;
  }
}

.bottom-half-spacer{
  padding-bottom: $spacer/2;

  @include for-size(phone-only) { 
    padding-bottom: $spacer/4;
  }

}

.top-text-spacer {
  padding-top: 1rem;
}

.bottom-text-spacer{
  padding-bottom: 1rem;
}

.top-text-spacer-half {
  padding-top: .5rem;
}


// Divs

.div {
  border-top: 2px solid $forestgreen;
}

.bottom-div {
  border-bottom: 2px solid $forestgreen;
}


// Corners

.round-12 {
  border-radius: 12px;
}

// Debug

.debug {
  background: blue;
}

.debug2 {
  background: red;
}

// Padding Overrides

#py-0 {
  padding-bottom: 0;
  padding-top:0;
}

#mb-1 {
  margin-bottom: 1rem;
}