// Margin
$spacer: 7rem;

// Border Radius

$sm-radius: 1rem;
$lg-radius: 2rem;

// Colours
$green: #004C4C;
$forestgreen: #012727;
$deepgreen: #001818;
$black: #001D1D;
$beige: #F2F0EA;
$orange: #DB7704;
$teal: #2F9B9B;
$darkbeige: #ECE8DC;

.forestgreen {
  color: $forestgreen;
}

.green {
  color: $green;
}

.teal {
  color: $teal;
}

.beige {
  color: $beige;
}

.darkbeige {
  color: $darkbeige;
}

.orange {
  color: $orange;
}

.on-dark {
    @media (prefers-color-scheme: dark) {
      color: $beige;
  }
}

$pattern-overlay: url('data:image/svg+xml,%3Csvg width="100" height="20" viewBox="0 0 100 20" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z" fill="%23108888" fill-opacity="0.05" fill-rule="evenodd"/%3E%3C/svg%3E');
$pattern-overlay-dark: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23001D1D' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");


// Breakpoint Mixins (to add: @include for-size ($breakpoint) {})


@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 40rem) { @content; }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 40rem) { @content; }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 64rem) { @content; }
  } @else if $size == desktop-up {
    @media (min-width: 90rem) { @content; }
  } @else if $size == big-desktop-up {
    @media (min-width: 120rem) { @content; }
  }
}



// Spacers

.spacer {
  padding-top: $spacer/2 !important; 

  @include for-size(tablet-landscape-up) {
    padding-top: $spacer !important; 
  }
}

.half-spacer{
  padding-top: $spacer/4 !important;

  @include for-size(tablet-landscape-up) {
    padding-top: $spacer/2 !important; 
  }
}

.bottom-spacer{
  padding-bottom: $spacer/2 !important;

  @include for-size(tablet-landscape-up) {
    padding-bottom: $spacer !important; 
  }
}

.bottom-half-spacer{
  padding-bottom: $spacer/4 !important;

  @include for-size(tablet-landscape-up) {
    padding-bottom: $spacer/2 !important; 
  }
}

.top-text-spacer {
  padding-top: 1rem !important;
}

.bottom-text-spacer{
  padding-bottom: 1rem !important;
}

.margin-end {
  margin-block-end: $spacer/4 !important;
}

// Divs

.div {
  border-top: 2px solid $forestgreen;
}

.bottom-div {
  border-bottom: 2px solid $forestgreen;
}


// Corners

.rounded {
  border-radius: 1rem;
}

.rounded-left {
  border-radius: 1rem 0 0 1rem;
}

.rounded-right {
  border-radius: 0 1rem 1rem 0;
}
// Debug

.debug {
  background: blue;
}

.debug2 {
  background: red;
}

// Padding Overrides

.pb-0 {
  padding-bottom: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

// Text Alignment

.centered {
  text-align: center;
}