---
layout: home
title: Home
permalink: /
---

<nav>
  <div class="wrap row">
      <div class="col-lg col-xs logo">
        <img src="/img/Logo@2x.png"/>
      </div>
      <ul class="col-lg col-xs">
        <li><a href="#work">Work</a></li>
        <li><a href="#about">About</a></li>
      </ul>
    </div>
  </div>
</nav>

<header class="home-hero">
  <div class="row wrap">
    <div class="col-xs-12">
      <h1>Hi, I'm Erica. <br>I design
        <span id="typewriter"></span>
      </h1>
      <p class="icon">Currently making cool things <a href="https://steamclock.com">@Steamclock.</a></p>
    </div>
  </div>
</header>

<div class="home-hero-image wrap">
  <img src="/img/Hero.png"/>
</div>

{% include work-grid.html %}
{% include about.html %}
