  <div class="about row spacer" id="about">
    <div class="col-lg-6 col-md-5 col-xs-12">
      <h2><img src="/img/icon-about.svg" class="img-spacer">About</h2>
    </div>
    <div class="col-lg-6 col-md-7 col-xs-12">
      <h4>Who I Am</h4>
      <h3>Hello, my name is Erica Leong. I'm a visual designer based in Vancouver, Canada.</h3>
      <h4>What I Do</h4>
      <p>I specialize in all sorts of things – illustration, branding, interfaces, print. I find joy in solving problems, building accessible interfaces and creating delightful experiences. I get excited over great typography, beautiful illustrations and something something.
      </p>
      <p>When I'm not creating, I like to spend my time solving escape rooms, watching movies and snowboarding.
      </p>
    </div>
  </div>