<section class="wrap row">
  <div class="about row spacer" id="about">
    <div class="col-lg-6 col-md-5 col-xs-12">
      <h2><img src="/img/icon-about.svg" class="img-spacer">About</h2>
    </div>
    <div class="col-lg-6 col-md-7 col-xs-12">
      <h4 class="top-text-spacer">Who I Am</h4>
      <h3 class="bottom-text-spacer">Hello, my name is Erica Leong. I'm a visual designer based in Vancouver, Canada.</h3>
      <h4>What I Do</h4>
      <p>I specialize in all sorts of things – illustration, interfaces, branding, web. I enjoy creative problem solving, learning new skills, and finding unique, delightful solutions for clients of all sizes.
      </p>
      <p>On my down time I enjoy playing D&D, escape rooms, snowboarding, and feline portraiture. 
      </p>
    </div>
  </div>
</section>