  <div class="about row spacer" id="about">
    <div class="col-lg-6 col-md-5 col-xs-12">
      <h2><img src="/img/icon-about.svg" class="img-spacer">About</h2>
    </div>
    <div class="col-lg-6 col-md-7 col-xs-12">
      <h4>Who I Am</h4>
      <h3 class="text-spacer">My name is Erica Leong and I'm a visual designer based in Vancouver, Canada.</h3>
      <h4>What I Do</h4>
      <p>I specialize in all sorts of things – illustration, branding, interfaces, print.  I enjoy building products that solve people’s problems and make their lives better. I solve complex system-level problems and sweat the details while credfsdfsdating intuitive, simple, aesthetically pleasing, and most of all, accessible user interfaces.
      </p>
    </div>
  </div>