<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Erica Leong • {{ page.title }}</title>
  <link rel="preload" href="/css/style.css" as="style" />
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/favicon" href="/img/favicon-light.png" media="(prefers-color-scheme: light)"> 
  <link rel="icon" type="image/favicon" href="/img/favicon-dark.png" media="(prefers-color-scheme: dark)">   
  
  <meta charset="utf-8">
  <meta name="title" property="og:title" content="{{ site.title }}">
  <meta name="description" property="og:description" content="{{ site.description }}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <script src="https://cdn.usefathom.com/script.js" data-site="SGYKVJUB" defer></script>
</head>