<nav class="nav-down">
  <div class="row wrap desktop-menu">
    <div class="logo">
      <a href="{% link index.html %}">
        <svg width="50" height="50">
          <image xlink:href="/img/logo.svg" src="svg.png" width="50" height="50" />
        </svg>
      </a>
    </div>
    <ul>
      <li><a href="{% link index.html %}#work">Work</a></li>
      <li><a href="{% link about.html %}">About</a></li>
      <li><a href="{% link blog.html %}">Blog</a></li>
      <li><a href="{% link blog.html %}">Shop</a></li>
      <li><a href="{% link contact.html %}" class="button button-contact" class="menuItem">Contact</a></li>
    </ul>
  </div>
  <button class="hamburger">
    <svg width="24" height="24" class="menuIcon">
      <image xlink:href="/img/icon-menu.svg" src="svg.png" width="24" height="24" />
    </svg>
  </button>
</nav>

<div class="mobile-menu">
  <div class="logo menuItem">
      <a href="{% link index.html %}">
        <svg width="50" height="50">
          <image xlink:href="/img/logo.svg" src="svg.png" width="50" height="50" />
        </svg>
      </a>
    </div>
  <ul>
    <li><a href="{% link index.html %}#work" class="menuItem">Work</a></li>
    <li><a href="{% link about.html %}" class="menuItem">About</a></li>
    <li><a href="{% link blog.html %}" class="menuItem">Blog</a></li>
    <li><a href="{% link blog.html %}" class="menuItem">Shop</a></li>
    <li><a href="{% link contact.html %}" class="menuItem">Contact</a></li>
  </ul>
  <button class="menuItem hamburger">
    <svg width="24" height="24">
      <image xlink:href="/img/icon-close.svg" src="svg.png" width="24" height="24" />
    </svg>
  </button>
</div>

