{% capture the_collection %}{{ page.collection }}{% endcapture %}

{% if page.collection %}
  {% assign document = site[the_collection] %}
{% endif %}

{% for links in document %}
  {% if links.title == page.title %}
    {% if forloop.last %}
      {% assign next = document.first %}
      {% assign nexttitle = next.title %}
      {% assign nexturl = next.url %}
    {% endif %}
    {% if forloop.first %}
      {% assign prev = document.last %}
      {% assign prevtitle = prev.title %}
      {% assign prevurl = prev.url %}
    {% endif %}
    {% unless forloop.first %}
      {% assign prevtitle = prev.title %}
      {% assign prevurl = prev.url %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = document[forloop.index] %}
      {% assign nexttitle = next.title %}
      {% assign nexturl = next.url %}
    {% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}

<article class="bottom-spacer project-nav">
  <div class="wrap row">
    {% if nexturl %}
      <div class="col-xs-12">
      <a href="{{ nexturl }}" class="button-project button">
        <h5 class="arrow-next">Up Next</h5>
        <h2>{{ nexttitle }}</h2>
      </a>
    </div>
    {% endif %}
  </div>
</article>

<script>
/* post pagination keyboard shortcuts */
document.body.onkeyup = function(e){
  if (e.keyCode == '37') { window.location = '{{ prevurl }}'; } // left arrow key
  if (e.keyCode == '39') { window.location = '{{ nexturl }}'; } // right arrow key
};
</script>


