<nav>
  <div class="wrap row">
      <div class="col-lg col-xs logo">
        <a href="{% link index.html %}">
          <svg width="50" height="50">
            <image xlink:href="/img/logo.svg" src="svg.png" width="50" height="50" />
          </svg>
      </div>
      <ul class="col-lg col-xs">
        <li><a href="{% link index.html %}#work">Work</a></li>
        <li><a href="{% link about.html %}">About</a></li>
        <!--<li><a href="{% link blog.html %}">Blog</a></li>-->
        <li><a href="{% link contact.html %}" class="button button-contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>