<section class="testimonials">
  <div class="row wrap testimonial-container">
    <div class="testimonial-header col-lg-12 col-xs-12 bottom-half-spacer">
      <h5>Some kind words</h5>   
  </div>
  </div>    
  <div class="main-carousel" data-flickity='{ "cellAlign": "center", "contain": true, "wrapAround":true }'>
      {% for testimonial in site.data.testimonials %}
      {% assign count = forloop.length %}
    <div class="carousel-cell testimonial-card">
      <h3 class="beige testimonial-quote">"{{ testimonial[1].quote }}"</h3>
      <h5 class="testimonial-author">— {{ testimonial[1].name }}</h5>
    </div>
      {% endfor %}
  </div>
</section>
