<section class="testimonials row wrap">
  <div class="testimonial-header col-lg-12 col-xs-12">
  <h5 class="bottom-text-spacer">Kind words</h5>   
  <div class="testimonial-carousel-controls">
    <button class="prev-btn">&#8249;</button>
    <button class="next-btn">&#8250;</button>
  </div>
  </div>
  <div class="testimonial-card col-lg-12 col-xs-12">
    <div class="testimonial-carousel">
        {% for testimonial in site.data.testimonials %}
        {% assign count = forloop.length %}
        <div class="testimonial">
          <h3 class="beige bottom-text-spacer testimonial-quote">"{{ testimonial[1].quote }}"</h3>
          <h5 class="testimonial-author">— {{ testimonial[1].name }}</h5>
        </div>
        {% endfor %}
    </div>
  </div>

  <div class="owl-carousel owl-theme">
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
</div>
</section>
