<section class="thumbnails">
    <div class="row" id="work">
      <!--<div class="col-lg-6 col-md-5 col-xs-12">
      <h2><img src="/img/icon-work.svg" class="section-icon-spacer">Work</h2>
    </div>-->
    <div class="row thumbnail-grid">
    {% for project in site.data.projects %}
    {% assign count = forloop.length %}
    <a href="../{{ project[1].url }}"><div class="thumbnail" onclick="" aria-label="{{ project[1].name }}">
        <img src="{{ project[1].img }}" alt="{{ project[1].name | strip_html }}" class="thumbnail-image">    
        <div class="thumbnail-overlay">
          <h3>{{ project[1].name }}</h3>
          <img src="../img/icon-thumb-div.svg"/ class="thumbnail-div">
          <h4>{{ project[1].role }}</h4>
          <!--<p><small>{{ project[1].role }}</small></p>-->
        </div>
    </div>
  </a>
  {% endfor %}
  </div>
</div>
</section>