<section class="wrap row">
  <div class="work row spacer" id="work">
    <div class="col-lg-12 col-xs-12">
      <h2><img src="/img/icon-work.svg" class="img-spacer">Work</h2>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12"><a href="{% link work/two-spies.html %}"><div class="project project1"></div></a></div>
      <div class="col-md-6 col-xs-12"><a href="{% link work/figma-keypads.html %}"><div class="project project2"></div></a></div>
      <div class="col-md-6 col-xs-12"><a href="{% link work/bench.html %}"><div class="project project3"></div></a></div>
      <div class="col-md-6 col-xs-12"><a href="/work/project1.html"><div class="project project4"></div></a></div>
    </div>
  </div>
</section>
