@import 'variables.scss';
@import 'variables/main.scss';

// Global Styles

html {	  
	scroll-behavior: smooth;
	font-size: 16px;

	@media only screen and (max-width: 600px) {
		font-size: 13px;
	}

}



body {
	display: flex;
	background: $charcoal;
	flex-direction: column;
}

.wrap {
	max-width: 1200px;
	margin: 0 auto;

	@media only screen and (max-width: 90rem) {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

// Text Styles 

h1, h2, h3, h4, p, small {
	font-family: "NaNJaune-MidiMedium";
	padding-bottom: 25px;
}

h1 {
	font-size: 4.5rem;
	line-height: 1em;
}

h2 {
	font-size: 4rem;
	line-height: 1.4em;
}

h3 {
	font-size: 2rem;
	line-height: 1.2em;
}

h4 {
	font-family: "NaNJaune-MidiBold";
	font-size: 0.9rem;
	line-height: 1rem;
	text-transform: uppercase;
	letter-spacing:3px;
	padding-top: 20px;
	color: $teal;

}

li, p, small {
	font-family: "NaNHolo-Regular";
	font-size: 1.4rem;
	line-height: 1.4em;
	display: inline-block;
	padding-right: 1em;
}

small {
	font-size: 1.2rem;
}


span {
	color: $teal;
}

a {
	color: $charcoal;
	transition: all 150ms ease-in-out;

	&:hover {
		color: $teal;
	}
}

.button {
	background: $charcoal;
	text-align: center;
	vertical-align: center;
	padding: 1em 0.5em;
	margin-left: 1em;

	&:hover {
		background: $teal;
	}

	a {
		color: $beige;
	}
}

// Sections

nav {
	background: $beige;
	padding-top: 50px;

	@media only screen and (max-width: 400px) {
		padding-top: 20px;
	}

	.logo {
		display: flex;

		img {
			height: 48px;
			width: auto;
			mix-blend-mode: multiply;

			@media only screen and (max-width: 400px) {
				height: 32px;
			}
		}

		@media only screen and (max-width: 400px) {
			justify-content: flex-start;
			align-items: center;
		}
	}

	ul {
		display: flex;
		justify-content: flex-end;
		align-items: center;

		li {			
			padding-left: 1.2em;
			padding-right: 0;

			&:nth-child(1){
				padding-left: 0;
			}

			a {
				display: inline-block;
				font-family: "NaNJaune-MidiBold";
				font-size: 0.8em;
				color: $charcoal;
				overflow: hidden;
				position: relative;
				line-height: 2em;


				&:after {
					position: absolute;
					content: '';
					bottom: 0;
					left: 0;
					width: 100%;
					height: 3px;
					background-color: $teal;
					opacity: 0;
					transform: translate3d(-100%, 0, 0);
					transition: opacity 300ms, transform 300ms;
				}

				&:hover {
					color: $teal;

					&:after {
						transform: translate3d(0, 0, 0);
						opacity: 1;
					}
				}
			}		
		}
	}
}

header {
	background: $beige;
	padding-top: $spacer/2;
}


section {
	color: $beige;
}

article {
	background: $beige;
}

footer {
	padding-bottom: $spacer;
	color: $beige;

	div:nth-child(2){
		display: flex;
		align-items: center;
		}

	a {
		color: $teal;

		&:hover {
			color: $beige;
		}
	}
	
	h4 {
		color: $teal;
	}

	li {

		a {
			color: $beige;	

			&:hover {
				color: $teal;
			}
		}

		@media only screen and (max-width: 40rem) {
			display:block;
			margin-bottom: 0.65em;
		}
	}
}

// Spacers

.spacer {
	padding-top: $spacer;

	@media only screen and (max-width: 40rem) {
		padding-top: $spacer/2;
	}
}

.half-spacer{
	padding-top: $spacer/2;
}

.bottom-spacer{
	padding-bottom: $spacer;
}

.bottom-half-spacer{

	padding-bottom: $spacer/2;
}

.img-spacer {
	padding-right: 20px;
	height: 0.8em;
	width: auto;
}

.text-spacer {
	padding-top: 30px;
}

.bottom-text-spacer{
	padding-bottom: 30px;
}

// Divs

.div {
	border-top: 2px solid $charcoal;
}

.bottom-div {
	border-bottom: 2px solid $charcoal;
}

// Debug

.debug {
	background: blue;
}

.debug2 {
	background: red;
}