@import 'variables.scss';
@import 'variables/main.scss';

// Global Styles

html {	  
	scroll-behavior: smooth;
	font-size: 16px;
}

body {
	display: flex;
	background: $charcoal;
	flex-direction: column;
}

.wrap {
	max-width: 1200px;
	margin: 0 auto;

	@media only screen and (max-width: 90rem) {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

// Text Styles 

h1, h2, h3, h4 {
	font-family: "NaNJaune-MidiMedium";
	padding-bottom: 30px;
}

h1 {
	font-size: 4.5em;
	line-height: 1em;

	@media only screen and (max-width: 800px) {
		font-size: 3.5em;
	}

	@media only screen and (max-width: 600px) {
		font-size: 3em;
	}
}

h2 {
	font-size: 4em;
	line-height: 1.4em;

	@media only screen and (max-width: 800px) {
		font-size: 3em;
	}

	@media only screen and (max-width: 600px) {
		font-size: 2.5em;
	}
}

h3 {
	font-size: 2em;
	line-height: 1.2em;

	@media only screen and (max-width: 800px) {
		font-size: 2em;
	}
}

h4 {
	font-family: "NaNJaune-MidiBold";
	font-size: 0.7em;
	line-height: 1em;
	text-transform: uppercase;
	letter-spacing:3px;
	padding-top: 20px;
	color: $teal;

}

li, p {
	font-family: "NaNHolo-Regular";
	font-size: 1.4em;
	line-height: 1.4em;
	display: inline-block;
	padding-right: 1em;
}


span {
	color: $teal;

}

a {
	color: $charcoal;
	transition: all 150ms ease-in-out;

	&:hover {
		color: $teal;
	}
}

.button {
	background: $charcoal;
	text-align: center;
	vertical-align: center;
	padding: 1em 0.5em;
	margin-left: 1em;

	&:hover {
		background: $teal;
	}

	a {
		color: $beige;
	}
}

// Sections

nav {
	background: $beige;
	padding-top: 50px;

	@media only screen and (max-width: 400px) {
		padding-top: 20px;
	}

	.logo {
		display: flex;
		img {
			height: 48px;
			width: auto;
			mix-blend-mode: multiply;

			@media only screen and (max-width: 400px) {
				height: 32px;
			}
		}

		@media only screen and (max-width: 400px) {
			justify-content: flex-start;
			align-items: center;
		}
	}

	ul {
		display: flex;
		justify-content: flex-end;
		align-items: center;

		li {			
			padding-left: 1.2em;
			padding-right: 0;

			&:nth-child(1){
				padding-left: 0;
			}

			a {
				display: inline-block;
				font-family: "NaNJaune-MidiBold";
				font-size: 0.8em;
				color: $charcoal;
				overflow: hidden;
				position: relative;
				line-height: 2em;

				@media only screen and (max-width: 500px) {
					font-size: .6em;
				}

				&:after {
					position: absolute;
					content: '';
					bottom: 0;
					left: 0;
					width: 100%;
					height: 3px;
					background-color: $teal;
					opacity: 0;
					transform: translate3d(-100%, 0, 0);
					transition: opacity 300ms, transform 300ms;
				}

				&:hover {
					color: $teal;

					&:after {
						transform: translate3d(0, 0, 0);
						opacity: 1;
					}
				}
			}		
		}
	}
}

header {
	background: $beige;
	padding-top: $spacer/2;
}


.home-hero {
	height: 500px; 
		@media only screen and (max-width: 64rem) {
		padding-top: $spacer/4;
		height: 400px;
	}

	h1 {
		color: $charcoal;
	}

	.icon {
		&:before {
			display:inline-block;
			content: '';
			background-image: url('/img/hand-point-right.svg');
			background-size: cover;
			height: 17px;
			width: 23px;
			margin-right: 7px;
		}
	}
}


.hero-image {
	margin-top: -150px;
	
	@media only screen and (max-width: 64rem){
		margin-top: -75px;
	}

	@media only screen and (max-width: 40rem) {
		margin-top: -25px;
	}

	img {	
		height: auto;
		width: 100%;	
	}	
}

section {
	color: $beige;
}

.work {

	h1 {
		padding-bottom: $spacer/2;
	}

	.project{
		height: 450px;
		width: auto;
		padding: 1em;
		background: $beige;
		border-radius: 2px;

		@media only screen and (max-width: 40rem) {
			height: 350px;
		}
	}

	.project1 {
			background-image: url(/img/thumbnails/project1.png);
			background-size: cover;
			transition: all 150ms ease-in-out;

			&:hover{
				opacity: 0.5;
			}
		}
}

footer {
	padding-bottom: $spacer;
	color: $beige;

	div:nth-child(2){
		display: flex;
		align-items: center;
		}

	a {
		color: $teal;

		&:hover {
			color: $beige;
		}
	}
	
	h4 {
		color: $teal;
	}

	li {

		a {
			color: $beige;	

			&:hover {
				color: $teal;
			}
		}

		@media only screen and (max-width: 40rem) {
			display:block;
			margin-bottom: 0.65em;
		}
	}
}

// Spacers

.spacer {
	padding-top: $spacer;

	@media only screen and (max-width: 40rem) {
		padding-top: $spacer/2;
	}
}

.half-spacer{
	padding-top: $spacer/2;
}

.bottom-spacer{
	padding-bottom: $spacer;
}

.img-spacer {
	padding-right: 20px;
	height: 0.8em;
	width: auto;
}

.text-spacer {
	padding-top: 30px;
}

// Debug

.debug {
	background: blue;
}

.debug2 {
	background: red;
}