.home-hero {
	height: 500px; 
		@media only screen and (max-width: 64rem) {
		padding-top: $spacer/4;
		height: 400px;
	}

	h1 {
		color: $charcoal;
	}

	.icon {
		&:before {
			display:inline-block;
			content: '';
			background-image: url('/img/hand-point-right.svg');
			background-size: cover;
			height: 17px;
			width: 23px;
			margin-right: 7px;
		}
	}
}


.home-hero-image {
	margin-top: -150px;
	
	@media only screen and (max-width: 64rem){
		margin-top: -75px;
	}

	@media only screen and (max-width: 40rem) {
		margin-top: -25px;
	}

	img {	
		height: auto;
		width: 100%;	
	}	
}

.work {

	h1 {
		padding-bottom: $spacer/2;
	}

	.project{
		height: 450px;
		width: auto;
		padding: 1em;
		background: $beige;
		border-radius: 2px;
		border: 1px solid #394242;
		transition: all 150ms ease-in-out;

		@media only screen and (max-width: 40rem) {
			height: 350px;
		}

		&:hover{
			opacity: 0.3;
			border: 1px solid $teal;

		}
	}

	.project1 {
		background-image: url(/img/thumbnails/spies.jpg);
		background-size: cover;
		background-position: center;
	}

	.project2 {
		background-image: url(/img/thumbnails/keypad.jpg);
		background-size: cover;
		background-position: center;

	}	
	.project2 {
		background-image: url(/img/thumbnails/keypad.jpg);
		background-size: cover;
		background-position: center;
	}	
}