@font-face {
  font-family: "NaNHolo-Regular";
  src: url("/fonts/NaNHolo-Regular.woff2");
}

@font-face {
  font-family: "NaNJaune-MidiRegular";
  src: url("/fonts/NaNJaune-MidiRegular.woff2");
}

@font-face {
  font-family: "NaNJaune-MidiMedium";
  src: url("/fonts/NaNJaune-MidiMedium.woff2");
}

@font-face {
  font-family: "NaNJaune-MidiBold";
  src: url("/fonts/NaNJaune-MidiBold.woff2");
}


$spacer: 100px;

$charcoal: #1C2323;
$beige: #F2F0EA;