/* Table of Contents

1. Global Styles
2. Layout
-- 2.1 Nav
-- 2.2 Home
-- 2.3 Work 
-- 2.4 About
-- 2.5 Projects
-- 2.6 Footer
3. Components

*/

// 1. Global Styles

@media (prefers-color-scheme: light) {
	:root {
	  --primary-color: #004C4C; /* green */
	  --primary-bg-color: #F2F0EA; /* beige */
	  --secondary-color: #F2F0EA; /* beige */
	  --secondary-bg-color: #012727; /* forest green */
	  --logo-color: #004C4C; /* green */
	  --callout-bg-color: 219, 119, 4; /* orange */
	  --label-text-color: #F2F0EA;
	  --nav-link-color: #004C4C; /* green */
	  --primary-button-color: 0, 76, 76;
	  --primary-button-text: #004C4C;
	  --secondary-button-color: 250, 248, 241;
	  --secondary-button-text: #F2F0EA;
	  --form-input-color: 0, 76, 76;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
	  --primary-color: #ECE8DC; /* dark-beige */
	  --secondary-color: #ECE8DC; /* dark-beige */
	  --logo-color: #DB7704; /* orange */
	  --primary-bg-color: #001818; /* deep green */
	  --secondary-bg-color: #001D1D; /* black */
	  --callout-bg-color: 0, 76, 76; /* green */
	  --label-text-color: #012727;
	  --nav-link-color: #ECE8DC; /* dark-beige */
	  --primary-button-color: 236, 232, 220;
	  --primary-button-text: #ECE8DC;
	  --secondary-button-color: 236, 232, 220;
	  --secondary-button-text: #ECE8DC;
	  --form-input-color: 236, 232, 220;
	}
}

html {	  
	scroll-behavior: smooth;
	font-size: 16px;
}

body {
	background: var(--secondary-bg-color);
	color: var(--primary-color);
	display: flex;
	flex-direction: column;

	@include for-size(phone-only) {
		border: 0;
	}

}

header.home, header.about, header.contact, header.fourohfour, header.blog, .project-nav, header.holding, header.home-alt {
	border-radius: 0 0 3rem 3rem;
}

header, section.work, section.blog, section.about, nav, .project-nav {
	background: var(--primary-bg-color);
}

img {
	width: 100%;
	height: auto;
}

.icon {
	width: auto;
	height: 1em;
	vertical-align: text-bottom;
}

.wrap {
	width: min(110rem, 90%);
}

// Labels + Buttons


div.callout {
	display: flex;
	align-items: baseline;
	max-width: contents;
	background: rgba(0, 0, 0, .3);
	background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23108888' fill-opacity='0.05' fill-rule='evenodd'/%3E%3C/svg%3E");
	padding: 1rem 1.4rem 1.2rem;
	border-radius: 1rem;
	max-width: fit-content;

	& > * {
		margin: 0;
	}
}

span.callout-label {
	display: inline-block;
	background: $orange;
	color: $forestgreen;
	text-transform: uppercase;
	font-family: "NaNJaune-Midi-Var";
	font-weight: 800;
	font-size: .7rem;
	letter-spacing: .1em;
	margin-right: 1rem;
	margin-bottom: .2rem;
	padding: .4rem .5rem .3rem;
	border-radius: 6px;
}

span.category-label {
	background-color: rgba($orange, 0.15);
	display: inline-block;
	padding: 0.4em 1em .2em;
	margin-right: 1rem;
	border-radius: 8px;
	color: $orange; 
}

span.available-label {
	background: rgba($orange,.15);
	padding: .5em 1em;
	border-radius: 24px;
	display: inline-block;
	transform-origin: bottom left;
	transition: all 150ms ease;

		&:hover {
			transform: translateY(-3px);
			opacity: .75;
		}

	svg {
		fill: $orange;
		margin-right: .75em;
	}
}


span.lottie {
	display: inline-block;
	height: 1em;
	width: 1em;
	margin-left: 0.1em;
	vertical-align: text-bottom;
}

.button {
	font-family: "NaNJaune-Midi-Var", sans-serif;
	font-weight: 650;
	display: inline-block;
	border: 3px solid rgba(var(--primary-button-color), .2);
 	box-shadow: 0 0px 0 rgba(var(--primary-button-color), .2);
 	color: var(--primary-button-text);
  transition: 100ms ease-in-out;
  border-radius: 1rem;

  &:hover {
  	color: var(--primary-button-text);
		border: 3px solid rgba(var(--primary-button-color), 1);
 		box-shadow: 0 3px 0 rgba(var(--primary-button-color), 1);
		background: rgba(var(--primary-button-color),0.05);
		background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23108888' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

	@media (prefers-color-scheme: dark) {
 	    &:hover {
 				background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23ECEAE3' fill-opacity='0.05' fill-rule='evenodd'/%3E%3C/svg%3E");
    }
	}

  &:active{
		box-shadow: none;
		transform: translateY(3px);
	}
}

.button-small {
		padding: .5rem 1.5rem;
	  transition: 100ms ease-in-out;
	  
	  &:active{
			box-shadow: none;
			transform: translateY(3px);
	}
}

.button-bio {		
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 3rem;
	border: 3px solid rgba($beige, 0.1);
	color: $darkbeige;
	margin: $spacer/3 0;

  &:hover {
  	color: $beige;
		border: 3px solid rgba($beige, 1);
 		box-shadow: 0 5px 0 rgba($beige, .5);
		background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23F2F0EA' fill-opacity='0.1	' fill-rule='evenodd'/%3E%3C/svg%3E");
  	}

	  &:active{
			box-shadow: none;
			transform: translateY(5px);
		}

	@include for-size(tablet-landscape-up) {
			display: inline-block;
	}
}

svg.button-icon {
		height: .8em;
		fill: var(--primary-color);
		margin-right: 8px;
	}


.icon-right-arrow {
		&:after {
		display: inline-block;
		content: '';
		background-size: cover;
		background-image: url('/img/global/icon-right-arrow.svg');
		height: 1em;
		width: 1em;
		vertical-align: text-bottom;
		margin-left: .5rem;
	}
}

.icon-left-arrow {
		&:before {
		display: inline-block;
		content: '';
		background-size: cover;
		background-image: url('/img/global/icon-left-arrow.svg');
		height: 1em;
		width: 1em;
		vertical-align: text-bottom;
		margin-right: .5rem;

			@media (prefers-color-scheme: dark) {
				background-image: url('/img/global/icon-left-arrow-darkmode.svg');
			}
	}
}

.pro-tip {
	text-align: center;
	opacity: 0.7;

	@include for-size(phone-only) {
		display: none;
	}
}

.drop-shadow {
	filter: drop-shadow(0px 30px 22px rgba(42, 38, 26, 0.01)) drop-shadow(0px 17px 17px rgba(42, 38, 26, 0.02)) drop-shadow(0px 4px 9px rgba(42, 38, 26, 0.03)) drop-shadow(0px 0px 0px rgba(42, 38, 26, 0.03));
}

// 2. Layout 

// 2.1 Nav

nav {
	border-bottom: rgba($green,0.15) 2px solid;
  transition: top 200ms ease-out;
  display: flex;
  justify-content: space-between;
	position: sticky;
	padding: 1.5rem 0rem;
	height: 6.5rem;
	top: 0px;
	z-index: 9;

	@media (prefers-color-scheme: dark) {
		border-bottom: rgba($green,0.3) 2px solid;
	}

	@include for-size(phone-only) {
		padding: 1.5rem 1.5rem;
	}

// Logo in Desktop Menu

	svg {
		fill: var(--logo-color);
	}

	  path.erica, polygon.erica {
	    fill: $green; 

	    	@media (prefers-color-scheme: dark) {
	      fill: $darkbeige !important; 
	    }
		}
	  path.leong, polygon.leong {
	    fill: $orange;
  }

	a.logo {
		display: flex;
		flex-direction: row;
		width: 150px;
		gap: 1em;

		svg.desktop-logo {
			width: 55%;
		}
	}
}

// Desktop Menu

.desktop-menu {
		display: flex;
		justify-content: space-between;

		@include for-size(phone-only) {   
			padding-left: .25em;
		}

		ul {
			display: flex;
			align-items: center;			

			@include for-size(phone-only) {   
				display: none;
			} 
		}

			li {	
				font-weight: 650;		
				padding-left: 1em;
				padding-right: 0;

				&:nth-child(1){
					padding-left: 0;
				}

				a {
					margin-block-end: 0;
				}

		a:not(.button) {
			color: var(--primary-button-text);
			overflow: hidden;
			position: relative;
			line-height: 2em;

			&.current {
				color: $orange;
				
				}	

			&:after {
				position: absolute;
				content: '';
				bottom: 0;
				left: 0;
				width: 100%;
				height: 3px;
				background-color: $orange;
				opacity: 0;
				transform: translate3d(0, -100%, 0);
				transition: opacity 150ms, transform 150ms ease;
			}

			&:hover {
				color: $orange;

				&:after {
					transform: translate3d(0, 300%, 0);
					opacity: 1;
				}
			}
		}
	}
}

// Mobile Dropdown Menu

.mobile-menu {
	display: none;

	@include for-size(phone-only) {    
	  position: fixed;
	  display: grid;
		flex-direction: column;
	  z-index: 999;
	  align-items: start;
	  padding: 1.5rem 2rem;
	  background: $forestgreen;
	  width: 100%;
    transition: all 200ms ease;
  	border-radius: 0 0 3rem 3rem;
		background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23108888' fill-opacity='0.08' fill-rule='evenodd'/%3E%3C/svg%3E");
		box-shadow: inset 0 -2px 0 0 rgba($green,.5), 0 8px 0 rgba(black, 1), 0 16px 0 2px rgba($forestgreen, 0.25);
	  transform: translateY(-110%);

		ul.mobile-menu-links {
			margin-block-start: 3rem;
			margin-block-end: 1rem;
			display: grid;
			grid-template-columns: auto auto;
		}

		h5 {
			opacity: 0;
		}

		li {
			font-weight: 620;		
			margin-block-end: 1.25em;
		  letter-spacing: -.01em;
			opacity: 0;
			transform: translateX(20px);
			transform-origin: bottom left;
		}

		li.mobile-menu-social-links {
			display: inline-block;
			margin-right: 1rem;

			svg {
				fill: $beige;
				transition: transform 150ms ease;

				&:hover, &:active, &:focus {
					transform: translateY(-2px);
					opacity: .6;

				}
			}
		}

  a.mobile-menu-link {
  	color: $beige;
  	font-size: 1.8rem;

	  	&:hover, &:focus, &:active {
	  		color: $orange;
	  	}
  	}
	}

	button.hamburger {
		transform: scale(0);
		position: fixed;
		top: 1.85rem;
		right: 1.45rem;
		height: 40px;
		width: 40px;
	}

	.logo {
		opacity: 0;
		margin-top: .15em;

	}

	svg.mobile-logo {
			fill: $orange;
	}
}

// Toggle Mobile Menu + Button Styling

.show-menu {
  transform: translateY(0);
  transition: all 400ms cubic-bezier(0.87, 0, 0.13, 1);

  h5, .logo {
   	opacity: 1;
	  transition: all 300ms ease-out 300ms;
  }

  button.hamburger {
  	transform: scale(1);
  	transition: transform 400ms cubic-bezier(.88,-0.08,0,1.7) 300ms, opacity 150ms ease;
  }

  li {
		opacity: 1;
		transform: translateX(0);
	  transition: all 300ms ease;
  }

  @for $i from 1 through 5 {
 	   	ul li:nth-child(#{$i}n) {
  	      transition-delay: calc(300ms + #{$i * 50}ms);
    	}
	}
}

button.hamburger {
	display: none;

	@include for-size(phone-only) {  
		display: block;
	  cursor: pointer;
	  border: none;
	  background: none;
	  transition: opacity 150ms ease;

	  &:hover {
	  	opacity: .6;
	  }
	}
}

// Logo Spin

svg.spin {
	transform: rotate(0);
	transition: all 350ms ease-in-out;

	&:hover {
		transform: rotate(360deg);
		transition: all 350ms ease-in-out;
	}
}

// Hide Menu on Scroll

.nav-up {
	top: -110px;
	transition: top 400ms cubic-bezier(0.7, 0, 0.13, 1);
}

.nav-down {
	transition: top 400ms cubic-bezier(0.5, 0, 0.13, 1);
}


// 2.2 Home

header.home {
	padding-top: $spacer;
	position: relative;

	@include for-size(phone-only) {    
		padding-top: $spacer/2;
		min-height: 35rem; 
	}

	@include for-size(tablet-portrait-up) {
		min-height: 44rem;
	}
	
	@include for-size(desktop-up) {
		min-height: 54rem;
	}

	.hero-img {
		img{
			position: absolute;
			bottom: 0;
			max-height: 46%;
		}
	}

	h1, h2 {
		text-align: left;
	}
}

// 2.2.1 Home Marquee

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--marquee-gap)));
  }
}

.marquee-container {
		border-bottom: rgba($green,0.3) 2px solid;
}

.marquee {
  --marquee-gap: 2rem;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--marquee-gap);
  padding: $spacer/2 0;
	mask-image: 
	linear-gradient(
		90deg, 
		rgba(0,0,0,0) 10%, 
		rgba(0, 0, 0, 1) 20%, 
		rgba(0, 0, 0, 1) 80%, 
		rgba(0,0,0,0) 90%, 
);
	-webkit-mask-image:	
	linear-gradient(
		90deg, 
		rgba(0,0,0,0) 5%, 
		rgba(0, 0, 0, 1) 10%, 
		rgba(0, 0, 0, 1) 90%, 
		rgba(0,0,0,0) 95%,
	);

	@include for-size (phone-only) {	
		padding: 6% 0;
	}
}

.marquee-content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: var(--marquee-gap);
  animation: scroll 80s linear infinite;

  @media (prefers-reduced-motion: reduce) {
    animation-play-state: paused !important;
	}
}

.marquee-pause:hover .marquee-content {
  animation-play-state: paused;
}

li.marquee-text {
  color: $beige;
  margin-block-end: 0;
  opacity: 0.4;
}

// 2.3.1 Work


section.thumbnails {

	.thumbnail-grid {
		padding: 0 .5rem; 
		display: grid;
		gap: 1.5rem;
		grid-template-columns: auto;

		@include for-size (tablet-landscape-up) {
			grid-template-columns: auto auto;
		}

		@include for-size (desktop-up) {
			grid-template-columns: auto auto;
		}
	}

	.thumbnail {
		transition: all 150ms ease-in-out;
		position: relative;

		.thumbnail-image {
			border: 3px solid rgba($green, .3);
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 1rem;
		}

		.thumbnail-overlay {
			border-radius: 1rem;
			padding: 3rem;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(1, 27, 27, .98);
			background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23108888' fill-opacity='0.05' fill-rule='evenodd'/%3E%3C/svg%3E");
			display: flex;
			align-items: start;
			justify-content: space-between;
			flex-direction: column;
			opacity: 0;
			transition: all 150ms ease;

			@include for-size(phone-only) {
				padding: 2rem;
			}

			@media (prefers-color-scheme: dark) {
				background: rgba($forestgreen, .98);
				background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23001D1D' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");

			}

			.thumbnail-title {
					* {
						color: $darkbeige;
					}

					h5 {
						opacity: 0.5;
						margin-top: 0;
					}
				}

				p.summary {
					margin-bottom: 0;
				}



			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);

			& > * {
				color: $beige;
				transform: translateY(30px);
				opacity: 0;
				transition: all 150ms ease 100ms;
			}

			&:hover {
				opacity: 1;

				&:hover > * {
					opacity: 1;
					transform: translateY(0px);
				}
			}
		}

		.thumbnail-div {
			width: 2.5rem;
		}

	}
}


// 2.3.2 Testimonials

section.testimonials {
	margin-top: $spacer/4;
	margin-bottom: $spacer/2;
	width: 100%;

	.testimonial-card {
		border-radius: 1rem;
		min-height: 32rem;
		max-width: 100rem;
		text-align: left;
		width: 70%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0 .5rem;

		@include for-size(phone-only) {
			width: 90%;
			padding: 2rem;
			margin: 0 .25rem;
			min-height: 27rem;
		}

		@include for-size(tablet-portrait-up) {
			padding: 3rem;
		}

		@include for-size(desktop-up) {
			padding: 5rem;
		}

		@include for-size(big-desktop-up) {
			padding: 7rem;
			align-items: center;
		}

		h3.testimonial-text {
		  max-width: 60ch;
		}

		h5 {
			margin-block-end: 0;
		}
	}
}

.carousel-cell {
	opacity: .4;
	background: rgba(0, 0, 0, .3);
	background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23108888' fill-opacity='0.05' fill-rule='evenodd'/%3E%3C/svg%3E");
	transition: opacity 100ms ease;
}

.carousel-cell.is-selected {
	opacity: 1;
}

/* no circle */

.flickity-button {
  background: rgba($green,0);
	transition: all 150ms ease;
	border: 3px solid rgba($green,0);
	border-radius: 1rem;

  &:hover {
  	background: rgba($green,.6);
		border: 3px solid rgba($green,1);
  }

  @include for-size(phone-only){
  	display:none;
  }
}

/* big previous & next buttons */
.flickity-prev-next-button {
  width: 56px;
  height: 56px;
}

.flickity-prev-next-button.previous {
	left: 20px;
	transition: left 150ms ease;

	&:hover {
		left: 17px;
	}
}

.flickity-prev-next-button.next {
	right: 20px;
	transition: right 150ms ease;

	&:hover {
		right: 17px;
	}
}

/* icon color */
.flickity-button-icon {
  fill: $beige;

  path {
    d: path('M48 5H37.2597C37.2597 25.1225 23.5717 38.4344 6 44.9307V55.0693C23.5717 61.5656 37.2597 74.8775 37.2597 95H48C48 79.1801 38.7027 64.5916 26.2418 55H93V45H26.2418C38.7027 35.4084 48 20.8199 48 5Z'); 
  }
}

/* hide disabled button */
.flickity-button:disabled {
  display: none;
}


/* position dots in carousel */
.flickity-page-dots {
  bottom: -3rem;
}
/* white circles */
.flickity-page-dots .dot {
  width: 10px;
  height: 10px;
  background: rgba($orange,.5);
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: $orange;
}


// 2.4 About


@keyframes slight-wiggle {
	0%,100% {
			transform: translateX(0%);
			transform-origin: 50% 50%;
		}
	25% {
			transform: translateX(-15px) rotate(-5deg);
		}

	50% {
			transform: translateX(15px) rotate(6deg);
	}

	75% {
			transform: translateX(-6px) rotate(-1.2deg);
		}

}

@keyframes slide-in{
	0% {
		transform: translateY(-15%);
		transform-origin: 0% 0%;
	} 

	100% {
		transform: translateY(0%);

	}
}	

@keyframes fade-in {
		0% {
		opacity: 0;
	} 

	100% {
		opacity: 1;
		}
	}	

header.about { 
	div.about-illo {
		margin-bottom: $spacer/2;
		animation: 
			fade-in .5s ease 0s 1,
			slide-in .3s ease 0s 1,
			slight-wiggle .8s ease .3s 1 normal forwards;

		img {
			max-height: 550px;

			&:hover {
					animation: slight-wiggle .8s ease;
				}
			}
		}
	}


// 2.5 Projects

header.work {
	.project-meta{
		display: grid;
		gap: 1rem;
		background-color: rgba($orange, 0.05);
		padding: 2rem;
		border-radius: 1rem;
		background: rgba($orange, .05);	
		background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23DB7704' fill-opacity='.08' fill-rule='evenodd'/%3E%3C/svg%3E");

		@media (prefers-color-scheme: dark) {
			background: rgba($green, .2);	
			background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23001818' fill-opacity='.8' fill-rule='evenodd'/%3E%3C/svg%3E");
		}	

		* {
			margin-block-end: .5rem;
		}

	}
}

.arrow-prev {
	margin-bottom: 1rem;

		&:before {
			display: inline-block;
			content: '';
			background-size: cover;
			background-image: url('/img/global/arrow-prev.svg');
			height: 19px;
			width: 18px;
			margin: 0 .5rem -4px;

			@media (prefers-color-scheme: dark) {
				background-image: url('/img/global/arrow-prev-darkmode.svg');
			}
		}
	}

.arrow-next {
	margin-bottom: 1rem;

		&:after {
			display: inline-block;
			content: '';
			background-size: cover;
			background-image: url('/img/global/arrow-next.svg');
			height: 19px;
			width: 18px;
			margin: 0 .5rem -4px;

			@media (prefers-color-scheme: dark) {
				background-image: url('/img/global/arrow-next-darkmode.svg');
			}
		}
	}

.next-project {
	text-align: right;

	@include for-size(phone-only) { 
		text-align: left;
	}
}

.button-project {
		display: block;
		vertical-align: middle;
   	box-shadow: 0 0px 0 rgba(var(--primary-button-color), .2);
    border-radius: 2rem;
    padding: 2.5em 3em 2em;
    min-height: 12rem;

    h5 {
    	color: var(--primary-button-text);
    }

    &:hover {
	   	box-shadow: 0 6px 0 rgba(var(--primary-button-color), 1);
    }

    @include for-size(phone-only){
    	min-height: 10rem;
    }

    &:active{
    	box-shadow: none;
    	transform: translateY(6px);
    }
}

div.in-progress {
	border-radius: 1rem;
	text-align: center;
	padding: 2em;
	display: flex;
	align-items: baseline;
	justify-content: center;
	background: rgba($orange, .1);		
	background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23DB7704' fill-opacity='0.05' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
	
		@include for-size(phone-only) {
			text-align: left;
		}

		h5 {
			margin-block-end: 0;
		}

		span.callout-label {
			color: $beige;

			@media (prefers-color-scheme: dark) {
				color: $forestgreen;		
		}
	}
}

// 2.6 Blog

section.blog {

	h1, h2, h3, h4, h5, p, blockquote {
		margin-block-start: 1em;
		color: var(--primary-color);
	}

	h4 {
		font-weight: 450;
	}

	ul, li {
	  font-family: "NaNHolo-Regular", sans-serif;
    letter-spacing: 0;
    margin-block: 0;
	}

	ul {
		margin-left: 1.2rem;
    list-style-type: disc;
	}

	ol {
		margin-left: 1.2rem;
		list-style-type: lower-roman;
	}

}

.blog-post-back {
	margin-bottom: $spacer/2;
}

.blog-post-preview {
	margin-block-end: 2rem;
	padding: 0 0 2rem;
	border-bottom: rgba($green,0.07) 2px solid;

	@media (prefers-color-scheme: dark) {
		border-bottom: rgba($green,0.15) 2px solid;
	}

	&:last-child {
		margin-block-end: 0;
		border-bottom: none;

	}

	& > * {
		margin-block-end: 0;
		color: $green;

		@media (prefers-color-scheme: dark) {
			color: $beige;
		}
	}

	h3 {
		margin-block-end: 0.5rem;
	}
}

// 2.7 Footer


footer.contact {
	border-bottom: rgba($green,0.3) 2px solid;
	text-align: center;
	padding: 8rem 0;

	@include for-size(phone-only) {
		padding: 5rem 0;
	}

	img.icon {
			padding-right: .5em;
		}

	h1 {
		color: $darkbeige;

		a {
			color: $orange;

			&:hover {
				opacity: .6;
			}
		}
	}
}

footer.copyright {
	.copyright-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
  	gap: $spacer/4;
  	padding: 4rem 0;

    @include for-size(phone-only){
    	flex-direction: column;
    	text-align: center;
    	align-items: center;
    }

		p {
			color: $darkbeige;
			opacity: .5;
			margin-block-end: 0;
		}

		a.inline-link {
			text-decoration-color: rgba($beige, 0.5);

			&:hover {
				color: $beige;
				text-decoration-color: rgba($beige, 0);
			}
		}
	}
	
	.social-container {
		ul.social-icons {
			display: flex;
			flex-direction: row;
			gap: 1.25rem;
			font-size: 1em;

			svg {
				fill: $darkbeige;
			}

			li {
				margin-block-end: 0;
				transition: opacity 150ms ease, transform 150ms ease;

				&:hover {
					opacity: .6;
					transform: translateY(-2px);
				}
			}

			img.icon {
				padding-right: .5em;
			}
		}
	}
}

// 2.8 404


header.fourohfour, header.thanks, header.holding {
	position: relative;

	@include for-size(phone-only) {    
		min-height: 36rem; 
	}

	@include for-size(tablet-portrait-up) {
		min-height: 42rem;
	}
	
	@include for-size(desktop-up) {
		min-height: 52rem;
	}

	.hero-img {
		img{
			position: absolute;
			bottom: 0;
			max-height: 46%;

			@include for-size(phone-only) {
				max-height: 15rem;
			}
		}
	}
}



// 2.9 Contact

header.contact {
	position: relative;

	@media (max-width: 41rem) {
		padding-bottom: 20rem !important;
	}

	ul.social-links {
		li {
			a {
				color: $green;

				&:hover {
					color: $orange;
				}

					@media (prefers-color-scheme: dark) {
						color: $beige;
				}
			}
		}
	}

.contact-img {
			position: absolute;
			bottom: 0;
			padding-left: 0.75rem;
			width: 25vw;
			max-width: 400px;
	
		@include for-size(phone-only) {
			padding-left: 0;
			width: 250px;
	    margin-left: -125px;
			left: 50%;
		}	

	}
}

form.contact {
	display: grid;
	gap: .5rem;

	button, input, select, textarea {
		font-family:  "NaNJaune-Midi-Var", sans-serif;
		background: none;
	}

	input, select, textarea {
		border: 3px solid rgba($green, .2);
 		box-shadow: inset 0 4px 0 rgba($green, .1);
 		margin-bottom: 1rem;
 		color: $green;
		border-radius: .75rem;


		&:focus {
			border: 3px solid rgba($green, .8);	
			box-shadow: inset 0 4px 0 rgba($green, .2);
			background: rgba($green,0.03);
			background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23108888' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
			outline-color:rgba($green,0.8);
		}

		&::placeholder {
			color: rgba(var(--form-input-color), 0.4)
		}

		@media (prefers-color-scheme: dark) {
			border: 3px solid rgba($beige, .2);
 			box-shadow: inset 0 3px 0 rgba($beige, .1);
 			color: $beige;

 			&:focus {
				border: 3px solid rgba($beige, .8);	
				box-shadow: inset 0 3px 0 rgba($beige, .2);
				background: rgba($beige,0.02);
				background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ECEAE3' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
 			}
		}
	}

	input, textarea, button {
		padding: 1rem;
  	font-size: clamp(1rem, calc(1vw + .5rem), 1.2rem);
  	font-weight: 350;
  	line-height: 1.4em;
	}

	textarea {
		min-height: 20rem;
	  resize: vertical;
	}

	label {
		margin-bottom: 0;
	}

	button {
		font-weight: 650;
		width: fit-content;
		padding: 1rem 3rem;
		cursor: pointer;

		@include for-size(phone-only) {
			width: 100%;
		}
	}
}

// BotPoison

/* CSS for the loading indicator */


.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  top: 2rem;
  left: 0;
  width: 100%;
  height: 100%;
}

.spinner {
  border: 3px solid rgba($green, .2); /* You can adjust the spinner color */
  border-top: 3px solid $green; /* You can adjust the spinner color */
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden {
  display: none;
}

// Dark Mode


img {
	@media (prefers-color-scheme: dark) {
		opacity: .95;
	}
}


// TypeIt Cursor

:root {
	--ti-cursor-font-size:   font-size: clamp(2.4rem, 6vw, 8rem);
	--ti-cursor-line-height: 1em;
}

// Animation

@keyframes h1-intro {
	0% {
		font-weight: 200;
		opacity: 0
	}

	100% {
		font-weight: 750;
		opacity: 1;
	}
}

@keyframes h2-intro {
	0% {
		font-weight: 100;
		opacity: 0
	}

	100% {
		font-weight: 700;
		opacity: 1;
	}
}

@keyframes fade-up {
	0% {
		transform: translateY(2rem);
		transform-origin: 0% 0%;
		opacity: 0
	}

	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}


@keyframes fade-down {
	0% {
		transform: translateY(-1rem);
		transform-origin: 0% 0%;
		opacity: 0
	}

	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}

@keyframes fade-up-delay {
	0%, 15% {
		transform: translateY(2rem);
		transform-origin: 0% 0%;
		opacity: 0
	}

	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}


h1.intro {
	animation: fade-up 1s cubic-bezier(0.7, 0, 0.13, 1); 
}

h2.intro {
	animation: fade-up 1s cubic-bezier(0.7, 0, 0.13, 1); 
}

.fade-down {
	animation: fade-down 1.1s cubic-bezier(0.7, 0, 0.13, 1);
}

.fade-up {
	animation: fade-up 1.1s cubic-bezier(0.7, 0, 0.13, 1);
}

.fade-up-delay {
		animation: fade-up-delay 1.2s cubic-bezier(0.7, 0, 0.13, 1);
}

h1.intro, h2.intro, .fade-up, .fade-up-delay {
	@media (prefers-reduced-motion) {
		animation: none;
	}
}

