<!doctype html>
<html>
	{% include header.html %}
	<body>

	{% include nav.html %}
	{{ content }}
	{% include footer.html %}

	<script src="https://unpkg.com/typeit@8.1.0/dist/index.umd.js"></script>
	<script>
	  new TypeIt("#typewriter", {
	      speed: 80,
	      deleteSpeed: 80, 
	      loop: true,
	    })
	  .pause(2100)
  	  .delete(12)
  	  .type('illustrations.')
  	  .pause(2100)
  	  .delete(15)
  	  .type('icons.')
  	  .pause(2100)
  	  .delete(6)
  	  .type('identities.')
  	  .pause(2100)
  	  .delete()
  	  .go();

	</script>
	</body>
</html>