<!doctype html>
<html>
	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <title>{{ page.title }}</title>
	  <link rel="stylesheet" href="/css/style.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script>
			$(document).ready(function(){
			// Add smooth scrolling to all links
			$("a").on('click', function(event) {

			// Make sure this.hash has a value before overriding default behavior
			if (this.hash !== "") {
			  // Prevent default anchor click behavior
			  event.preventDefault();

			  // Store hash
			  var hash = this.hash;

			  // Using jQuery's animate() method to add smooth page scroll
			  // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
			  $('html, body').animate({
			    scrollTop: $(hash).offset().top
			  }, 0, function(){

			    // Add hash (#) to URL when done scrolling (default click behavior)
			    window.location.hash = hash;
			  });
			} // End if
			});
			});
			
		     $(function() {
		       $('a[href*="#"]:not([href="#"])').click(function() {
		         if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
		           var target = $(this.hash);
		           target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		           if (target.length) {
		             $('html, body').animate({
		               scrollTop: target.offset().top
		             }, 1000);
		             return false;
		           }
		         }
		       });
		     });
		</script>
	</head>
	<body>

		{{ content }}
		{% include footer.html %}

		<script src="https://unpkg.com/typeit@8.1.0/dist/index.umd.js"></script>
		<script>
		  new TypeIt("#typewriter", {
		      speed: 100,
		      deleteSpeed: 50, 
		      loop: true,
		    })

		  .type("interfaces.")   
		  .pause(2200)
		  .delete()
		  .type("illustrations.")
		  .pause(2500)
		  .delete()
		  .type("brands.")
		  .pause(2200)
		  .delete()
		  .type("websites.")
		  .pause(2200)
		  .go();

		</script>
	</body>
</html>