<!doctype html>
<html>
	{% include header.html %}
	<body>

	{% include navigation.html %}
	{{ content }}
	{% include footer.html %}

	<script src="https://unpkg.com/typeit@8.1.0/dist/index.umd.js"></script>
	<script>
	  new TypeIt("#typewriter", {
	      speed: 80,
	      deleteSpeed: 80, 
	      loop: true,

	    })

  	  .type("joy.")
	  .pause(2500)
  	  .delete()
	  .type("care.")
  	  .pause(2500)
  	  .delete()
	  .type("humour.")
  	  .pause(2500)
	  .delete()
	  .type("integrity.")
  	  .pause(2500)
  	  .delete()
	  .type("empathy.")
  	  .pause(2500)
	  .go();
	</script>
	</body>
</html>