<!doctype html>
<html>
	{% include header.html %}
	<body>
	{% include navigation.html %}
	<header>
		<div class="row wrap half-spacer">
			<div class="col-lg-8 col-xs-12">	
			<a href="{% link blog.html %}" class="button button-small">Back</a>
			<h2 class="spacer">{{ page.title }}</h2>
          	<h5><span class="category">{{ page.category }}</span>{{ page.date | date_to_string: "ordinal", "US" }}</h5>

			</div>
		</div>
	</header>

	<section class="blog bottom-spacer">
		<div class="row wrap">
			<div class="col-lg-7 col-xs-12">	
			{{ content }}
			</div>
		</div>
	</section>

	{% include navigation_posts.html %}
	{% include footer.html %}
	</body>
</html>