<!doctype html>
<html>
	{% include header.html %}
	<body>
	{% include navigation.html %}
	<header class="spacer">
		<div class="row wrap">
			<div class="col-lg-3 col-md-3 col-xs-12">
				<a href="{% link blog.html %}" class="button button-small blog-post-back icon-left-arrow">Back</a>
			</div>
			<div class="col-lg-6 col-md-7 col-xs-12">
	        {% if page.image %}
        		<img src="{{ page.image }}" class="rounded">
        	{% endif %}	
			<h2 class="fade-up {% if page.image %} half-spacer{% endif %}">{{ page.title }}</h2>
			<p class="blog-post-byline">{{ page.byline }}</p>
          	<h5 class="bottom-half-spacer"><span class="blog-post-category">{{ page.category }}</span>{{ page.date | date_to_string: "ordinal", "US" }}</h5>
			{{ content }}

			</div>
		</div>
	</header>

	<section class="blog bottom-spacer">
		<div class="row wrap">
			<div class="col-lg-7 col-xs-12">	
			</div>
		</div>
	</section>

	{% include navigation_posts.html %}
	{% include footer.html %}
	</body>
</html>