<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.statically.io/gh/kswedberg/jquery-smooth-scroll/3948290d/jquery.smooth-scroll.min.js"></script>
  </head>
  <body class="project">
    {% include navigation.html %}
  <header>
      <div class="row wrap bottom-half-spacer">
        <div class="col-md-6 col-xs-12">
          <h2>{{ page.title }}</h2>
        </div>
        <div class="col-md-6 col-xs-12">
          <h3>{{ page.intro }}</h3>
          <p>{{ page.byline }}</p>
        </div>
      </div>

      <div class="row wrap">
        <div class="col-md-3 col-xs-12" id="py-0">
          <h4>{% if page.client == 'Personal' %} Project {% else %} Client {% endif %}</h4>
          <h5>{{ page.client }}</h5>
        </div>

        {% if page.link == true %}
        <div class="col-md-3 col-xs-12" id="py-0">
          <h4>Link</h4>
          <h5><a href="{{ page.href }}" class="external-link link-underline" target="_blank">{{ page.linktext }}</a></h5>
        </div>
        <div class="col-md-6 col-xs-12" id="py-0">  
          <h4>Work</h4>
          <h5>{{ page.role }}</h5>
        </div>
        {% else %}
        <div class="col-md-6 col-md-offset-3 col-xs-12" id="py-0">  
          <h4>Work</h4>
          <h5>{{ page.role }}</h5>
        </div>
        {% endif %}

      </div>
  </header>
  {{ content }}
  {% include project-nav-alt.html %}
  {% include footer.html %}
  </body>
</html>