<!doctype html>
<html>
  {% include header.html %}

  <body class="project">
    {% include navigation.html %}
  <header>
      <div class="row wrap bottom-half-spacer">
        <div class="col-md-6 col-sm-8 col-xs-12">
          <h2 class="bottom-half-spacer">{{ page.title }}</h2>
          <h3>{{ page.intro }}</h3>
          <p>{{ page.byline }}</p>
        </div>

        <div class="col-lg-offset-3 col-lg-3 col-md-offset-2 col-md-4 col-sm-offset-1 col-sm-3 col-xs-12">
        <h4>{% if page.client == 'Personal' %} Project {% else %} Client {% endif %}</h4>
          <h5>{{ page.client }}</h5>
        {% if page.link == true %}
          <h4>Work</h4>
          <h5>{{ page.role }}</h5>
          <h4>Link</h4>
          <h5><a href="{{ page.href }}" class="external-link link-underline" target="_blank">{{ page.linktext }}</a></h5>
        {% else %}
          <h4>Work</h4>
          <h5>{{ page.role }}</h5>
        {% endif %}

        </div>
      </div>
    </div>

  </header>
  {{ content }}
  {% include project-nav-alt.html %}
  {% include footer.html %}
  </body>
</html>